@import url("https://cdn.jsdelivr.net/gh/fonts-archive/JejuHallasan/JejuHallasan.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(270deg, #070708 0%, #1A1C28 40%, #2D3248 100%);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

.font-en {
  font-family: "Jeju Hallasan", sans-serif;
}
.font-zh {
  font-family: "Roboto", sans-serif;
}

.top-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 40px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.25) inset;
  border: none;
  cursor: pointer;
}
.btn--sm {
  padding: 12px 18px;
  background: rgba(47, 149, 143, 0.8);
  transition: 0.3s ease-in-out;
}
.btn--sm:hover {
  background: #2F958F;
}
.btn--lg {
  padding: 15px 40px;
  background: #2F958F;
  transition: 0.2s ease-in-out;
}
.btn--lg:hover {
  background: rgba(47, 149, 143, 0.9333333333);
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25) inset;
}
.btn--submit {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.btn--again {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  right: 40%;
  top: 73%;
}

.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
}
.game__instruction {
  font-size: 24px;
}
.game__difficulty {
  font-size: 20px;
}

.line {
  width: 100%;
  height: 9px;
  background: linear-gradient(195deg, rgba(158, 218, 209, 0.9) 11.27%, rgba(61, 179, 162, 0.9) 90.4%);
  position: absolute;
  top: 50%;
}

.answer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: #ffffff;
  position: absolute;
  left: calc(50% - 176px);
  top: calc(50% - 107px);
  width: 253px;
  height: 204px;
  background: #2F958F;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.answer-text {
  font-size: 60px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 3px;
  position: absolute;
  top: calc(50% - 220px);
  left: calc(50% - 235px);
}

.guess-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: absolute;
  left: 170px;
  bottom: 70px;
}
.guess-area input[type=number] {
  width: 232px;
  height: 130px;
  border-radius: 3px;
  border: 10px solid #2F958F;
  color: #ffffff;
  text-align: center;
  font-size: 64px;
  font-family: "Jeju Hallasan";
  background: none;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.guess-area input[type=number]:focus {
  outline: none;
}

.score-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  font-size: 28px;
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  right: 250px;
  bottom: 215px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  background: #2F958F;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.35);
  color: #ffffff;
  position: absolute;
  z-index: 10;
}
.modal.rule {
  padding: 30px 40px;
  gap: 25px;
  right: 30%;
  top: 20%;
}

.rule__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.rule__content h3 {
  font-size: 28px;
}
.rule__content li {
  font-size: 20px;
  line-height: normal;
}

.svg__close {
  position: absolute;
  right: 25px;
  top: 20px;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(85, 85, 85, 0.15);
  backdrop-filter: blur(5px);
  z-index: 5;
}

.img-celebrate {
  position: absolute;
}
.img-celebrate-lg {
  left: 23%;
}
.img-celebrate-left {
  top: 10%;
  left: 15%;
}
.img-celebrate-right {
  top: 10%;
  right: 15%;
  transform: rotate(270deg);
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
