// typography
$font-family:"Jeju Hallasan","Roboto", sans-serif;

// color
// primary-color
$green:#3DB8A5;
$dark-green:#2F958F;
$secondary-pink: linear-gradient(
  0deg, 
  rgba(0, 0, 0, 0.20) 0%, 
  rgba(0, 0, 0, 0.20) 100%
), #DF2F85;
$white:#ffffff;
$light-white:#eeeeee;

// linear-gradient
$black-linear:linear-gradient(270deg, #070708 0%, #1A1C28 40%, #2D3248 100%);
$green-linear: linear-gradient(195deg, rgba(158, 218, 209, 0.90) 11.27%, rgba(61, 179, 162, 0.90) 90.4%);
$pink-linear:linear-gradient(195deg, rgba(96, 27, 61, 0.90) 11.27%, rgba(198, 56, 126, 0.90) 90.4%);

// box-shadow
$modal-shadow:box-shadow(0px 4px 32px 0px rgba(0, 0, 0, 0.35));
$btn-shadow:box-shadow(0px -2px 5px 0px rgba(0, 0, 0, 0.25) inset);