@import "global";
@import "modal";

body {
  background: url(../image/background-img.png);
  @include flex-center;
  @media (max-width: 1440px) {
    background: url(../image/background-img-1440px.png);
  }
}

.main {
  @include flex-center(column);
  gap: 80px;
  max-width: 660px;
  @media (max-width: 1440px) {
    gap: 60px;
  }
}
.title {
  @include flex-center(column);
  gap: 30px;
  color: $white;
  @media (max-width: 1440px) {
    gap: 25px;
  }
  h1 {
    font-size: 6rem;
    text-shadow: $text-shadow;
  }
  h2 {
    font-size: 3rem;
    text-shadow: $text-shadow;
  }
}

// --------------------btn--------------------------
.btn-section {
  width: 100%;
  @include flex-center($justify: space-between);
  padding-inline: 50px;
}
.btn {
  font-family: $font-family-zh;
  border-radius: $border-radius-sm;
  border: 4px solid $green;
  background: $green-linear-10;
  box-shadow: $btn-shadow;
  backdrop-filter: blur(17.5px); //毛玻璃效果，數值越小越模糊
  padding: 20px 45px;
  @include flex-center(column);
  font-size: 1.5rem;
  color: $green;
  cursor: pointer;
  transition: 0.3s ease-out;
  &:hover {
    background: $green-linear-30;
  }
  &--start-game {
    @include flex-center;
    padding: 10px 15px;
    gap: 8px;
    position: absolute;
    right: 1.25rem;
    bottom: 1rem;
    border-radius: $border-radius-lg;
    color: $white;
    border: 4px solid $white;
    background: $green-linear-10;
    text-decoration: none;
    box-shadow: $btn-shadow;
    font-size: 1.25rem;
    font-weight: 500;
    &:hover {
      cursor: pointer;
      background: $green-linear-30;
    }
  }
}
.modal {
  @include flex-center(column, $align: flex-start);
  border-radius: $border-radius-lg;
  background: $dark-green;
  box-shadow: $modal-shadow;
  color: $white;
  position: absolute;
  z-index: 10;
  &.difficulty {
    width: 37.5%;
    padding: 65px 40px;
    gap: 25px;
    top: 30%;
    @media (max-width: 1440px) {
      width: 47.5%;
    }
  }
}
.difficulty {
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }
}
.warning {
  position: absolute;
  bottom: 15%;
  color: #9d3535;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(85, 85, 85, 0.15);
  backdrop-filter: blur(5px);
  z-index: 5;
}
.hidden {
  display: none;
}
// -----------------------custom radio---------------------------
.radio {
  @include flex-center;
  gap: 25px;
  font-size: 24px;
  &__group {
    @include flex-center;
    gap: 15px;
  }
  input[type="radio"] {
    display: none;
  }
  &__btn {
    @include flex-center;
    width: 20px;
    height: 20px;
    border: 2px solid $white;
    border-radius: 50%;
    cursor: pointer;
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: $white;
      border-radius: 50%;
      opacity: 0;
    }
  }
}
.radio__group input[type="radio"]:checked + .radio__btn::after {
  opacity: 1;
}
// --------------svg-----------------

.svg {
  &__close {
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer;
  }
  &__difficulty {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 28px;
    height: 28px;
  }
}
